// app global css


@font-face
    src url('~assets/fonts/sansation/Sansation_Bold.ttf') format('truetype')
    font-family Sansation
    font-style bold

@font-face
    font-family Montserrat
    src url('~assets/fonts/montserrat/Montserrat-Bold.ttf') format('truetype') 
    font-style: normal
    font-weight bold
@font-face
    font-family Montserrat
    src url('~assets/fonts/montserrat/Montserrat-Medium.ttf') format('truetype')
    font-style: normal
    font-weight medium 
@font-face
    font-family Montserrat
    src url('~assets/fonts/montserrat/Montserrat-Regular.ttf') format('truetype')
    font-style: normal
    font-weight normal
@font-face
    font-family Montserrat
    src url('~assets/fonts/montserrat/Montserrat-Thin.ttf') format('truetype')
    font-style: normal
    font-weight lighter



body
    // font-family: Open Sans;
    font-family: Sansation;

a   
    color: #fff
    text-decoration: none

li
    list-style: none

