// app global css

//__ Sansation
@font-face
    src url('~assets/fonts/sansation/Sansation_Bold.ttf') format('truetype')
    font-family Sansation Bold
    font-style bold
@font-face
    src url('~assets/fonts/sansation/Sansation_Regular.ttf') format('truetype')
    font-family Sansation
    font-style normal
@font-face
    src url('~assets/fonts/sansation/Sansation_Light.ttf') format('truetype')
    font-family Sansation Thin
    font-style normal



//__ Montserrat
@font-face
    font-family Montserrat Bold
    src url('~assets/fonts/montserrat/Montserrat-Bold.ttf') format('truetype') 
    font-style: normal
    font-weight bold
@font-face
    font-family Montserrat Medium
    src url('~assets/fonts/montserrat/Montserrat-Medium.ttf') format('truetype')
    font-style: normal
    font-weight medium 
@font-face
    font-family Montserrat
    src url('~assets/fonts/montserrat/Montserrat-Regular.ttf') format('truetype')
    font-style: normal
    font-weight normal
@font-face
    font-family Montserrat Thin
    src url('~assets/fonts/montserrat/Montserrat-Thin.ttf') format('truetype')
    font-style: normal
    font-weight lighter


//__ Open Sans
@font-face
    font-family Open Sans 
    src url('~assets/fonts/open_sans/OpenSans-Regular.ttf') format('truetype')
    font-style: normal
    font-weight normal
@font-face
    font-family Open Sans Bold 
    src url('~assets/fonts/open_sans/OpenSans-Bold.ttf') format('truetype')
    font-style: normal
    font-weight bold
@font-face
    font-family Open Sans Semi Bold 
    src url('~assets/fonts/open_sans/OpenSans-SemiBold.ttf') format('truetype')
    font-style: normal
    font-weight 500
@font-face
    font-family Open Sans Light 
    src url('~assets/fonts/open_sans/OpenSans-Light.ttf') format('truetype')
    font-style: normal
    font-weight 200



body
    // font-family: Open Sans;
    font-family: Sansation Bold;

a   
    color: #fff
    text-decoration: none

li
    list-style: none

